{% extends "layout.html" %}

{% block title %}Home - Sulfur Electric Tattoo{% endblock %}

{% block content %}
<section class="hero hero-background d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
    <h1>Welcome to Sulfur Electric Tattoo!</h1>
    <p>Professional tattoo artistry in a clean, creative environment</p>
</section>

<section class="about-me">
    <div class="container-fluid py-5">
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-5 mx-auto">
                <div class="d-flex flex-column align-items-center text-center gap-3">
                    <h2>About me</h2>
                    <div class="about-text">
                        <p>
                            Hi — I’m Manuel, a tattooer from Portugal with about eight years’ experience and over 2,600 tattoos.
                            I’m known for drinking copious Dr Pepper (it keeps my body fueled). I specialize in fineline, butterfly/name work, Blackwork, black‑and‑grey, Old School, and custom medieval‑styled pieces. 
                            Contact me for clean lines, bold color, and original designs — pain is free.
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
